@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
p{
    color: white;
}
body{
background-color: hsl(0, 0%, 8%);
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

section{
    width: 23%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

div img{
    width: 80px;
    border-radius: 50%;
    margin-top: 40px;
}

.text{
    text-align: center;
    
}

h1{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

#pais{
    color:hsl(75, 94%, 57%);
}

.items{
    width: 100%;
    gap: 13px;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}
.item{
    background-color: hsl(0, 0%, 20%);
    width: 80%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.item:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:580px){
    #section{
        width: 95%;
        height: 55%;
    }

    .items{
        justify-content: center;
        height: 80%;
    }
    .item{
        height: 10%;
    }

}